---
// Componente minimalista de información institucional Cinvestav
---
<section class="cinvestav-info">
  <div class="cinvestav-info-content">
    <img src="/~andres.cruz/web-app-manifest-192x192.png" alt="Cinvestav logo" class="cinvestav-logo" />
    <div class="cinvestav-text">
      <p class="cinvestav-title">CINVESTAV Zacatenco</p>
      <p class="cinvestav-program">Maestría en Ciencias de la Computación</p>
      <p class="cinvestav-year">Estudiante de primer año</p>
      <p class="cinvestav-location">Ciudad de México, México</p>
      <p class="cinvestav-desc">Centro de Investigación y de Estudios Avanzados del IPN.<br />
      Programa orientado a la investigación y desarrollo en IA, algoritmos y sistemas computacionales.</p>
    </div>
  </div>
</section>
