---
---
<section class="home-intro">
  <div class="home-intro-content">
    <div class="home-intro-left">
      <img src="/~andres.cruz/web-app-manifest-192x192.png" alt="CINVESTAV logo - Center for Research and Advanced Studies" class="cinvestav-logo" loading="lazy" />
      <div class="cinvestav-text">
        <p class="cinvestav-title cinvestav-green">CINVESTAV</p>
        <p class="cinvestav-program">M.Sc. in Computer Science</p>
        <p class="cinvestav-year">First-year master's student</p>
        <p class="cinvestav-location">Mexico City, Mexico</p>
        <p class="cinvestav-desc">Center for Research and Advanced Studies of the IPN.<br />
        Research-oriented program in AI, algorithms, and computational systems.</p>
      </div>
    </div>
    <div class="home-intro-right">
      <img src="/~andres.cruz/image-about.jpeg" alt="Andrés Cruz Chipol - CINVESTAV Computer Science Master's Student" class="aboutme-photo" loading="lazy" />
      <p class="mini-about-title">About Me</p>
      <p class="mini-about-desc">Passionate about AI, algorithms, and technology. Currently pursuing a Master's at Cinvestav, focused on Machine Learning and Computer Vision.</p>
      <a href="/~andres.cruz/about/" class="view-more-btn">Read more</a>
    </div>
  </div>
</section>
